<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<fieldName>time</fieldName>
					<timeZone>UTC</timeZone>
				</timestamp>
				<loggerName>
					<fieldName>logger</fieldName>
				</loggerName>
				<logLevel>
					<fieldName>lvl</fieldName>
				</logLevel>
				<mdc />
				<message>
					<fieldName>msg</fieldName>
				</message>
			</providers>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>
